
* {
    padding: 0;
    margin: 8px 0 0 0;
}

.addEditForm{
    padding: 0 40px;
    .imageSection {
        width: 50%;
        .productImage {
            width: 100px;
            height: 120px;
            margin-bottom: 10px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .imgButtons {
            button {
                padding: 0 5px;
                margin-right: 10px;
            }
        }
    }
    .nameSection {
        width: 50%;
    }
    .categoriesSection {
        width: 50%;
        select {
            width: 100%;
        }
    }
    .manufacturerSection {
        width: 50%;
    }
    .description1 {
        width: 75%;
        textarea {
            width: 100%;
        }
    }
    .description2 {
        width: 75%;
        textarea {
            width: 100%;
        }
    }
    .formButtons {
        float: right;
        margin-bottom: 15px;
        button {
            margin-left: 5px;
            padding: 0 10px;
        }
    }
}

@media only screen and (max-width: 770px) {
    .imageSection,
     .nameSection, 
     .categoriesSection, 
     .manufacturerSection, 
     .description1, 
     .description2 {
        width: 100%;
    }

    .formButtons {
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            width: 20%;
        }
    }
}

@media only screen and (max-width: 576px) {
    .formButtons {
        button {
            width: 30%;
        }
    }

    .imageSection {
        .productImage {
            margin: auto;
        }
        .imgButtons {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}