<app-header></app-header>
<div class="row">
  <!-- Side menu -->
  <app-menu class="col-md-3"></app-menu>
  <!-- Add/edit product form -->
  <div class="addEditForm container-fluid col-md-9">
      <h1>{{headingState}}</h1>
      <form>
        <!-- Image upload -->
        <div class="imageSection">
          <div>
            <label for="img">Picture</label>
          </div>
          <div class="productImage">
            <img [src]="product.imageUrl">
          </div>
          <div class="imgButtons">
            <input 
                style="display:none" 
                type="file" 
                name="myFile" 
                (change)="fileUpload($event)" 
                accept=".png, .jpg" #fileInput>
            <button type="button" (click)="fileInput.click()" class="btn btn-outline-success">Upload picture</button>
            <button class="btn btn-outline-danger" (click)="removeImage()">Remove picture</button>
          </div>
        </div>
        <!-- Product Name -->
        <div class="nameSection">
          <div>
            <label for="name">Name:</label>
          </div>
          <div>
            <input [(ngModel)]="product.name" type="text" name="name" class="form-control" id="name" placeholder="Enter product Name">
          </div>
        </div>
        <!-- Categories -->
        <div class="categoriesSection">
          <div>
            <label for="sel1">Categories:</label>
          </div>
          <select [(ngModel)]="product.categoryId" id="sel1" name="categories">
            <option selected="true" disabled="disabled">Options</option>
            <option *ngFor = "let category of categories" [ngValue]="category.id">{{category.name}}</option>
          </select>
        </div>
        <!-- Product manufacturer -->
        <div class="manufacturerSection">
          <label for="name">Manufacturer:</label>
          <div>
            <input [(ngModel)]="product.manufacturer" type="text" name="manufacturer" class="form-control" id="name" placeholder="Enter manufacturer">
          </div>
        </div>
        <!-- Available -->
        <div>
          <div>
            <label for="name" >Available:</label>
          </div>
          <div >
            <input type="checkbox" name="gender" [(ngModel)]="product.isAvailable">
          </div>
        </div>
        <!-- Product price -->
        <div class="productPrice">
            <div>
              <label for="product" >Product price:</label>
            </div>
            <div >
              <input type="number" name="gender" [(ngModel)]="product.price">
            </div>
        </div>
        <!-- Description 1 -->
        <div class="description1">
          <div>
            <label for="description1">Short description:</label>
          </div>
          <textarea [(ngModel)]="product.shortDescription" name="description1" rows="2" id="description1"></textarea>
        </div>
        <!-- Description 2 -->
        <div class="description2">
          <div>
            <label for="description2">Full description:</label>
          </div>
          <textarea [(ngModel)]="product.fullDescription" name="description2" rows="5" id="description2"></textarea>
        </div>
    
        <!-- Edit / Update button -->
        <div class="formBtns">
          <button (click)="addUpdate()" type="submit" class="btn btn-outline-success">{{buttonState}}</button>
          <button routerLink="/products" class="btn btn-outline-warning">Cancel</button>
        </div>
      </form>
    </div>

</div>