*{
    font-family: "Courier", Times, serif;
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;
    height: 65%;
    .row {
        height: auto;
        margin-top: 30px;
        .imageContainer {
            img {
                width: 100% !important;
            }
        }
    }    
}
