
<app-portal-header [quantity]="cartQuantity"></app-portal-header>

<div class="container">
    <h1>Product details</h1>
    <div class="row">
      <div class="imageContainer col-md-3">
        <img [src]="product.imageUrl">
      </div>
      <div class="col-md-9 detailsContainer">
        <h2>{{product.name}}</h2>
        <p>Short description: {{product.shortDescription}}</p>
        <p>Manufacturer: {{product.manufacturer}}</p>
        <p>Availability: {{product.isAvailable}}</p>
        <div>
          <input type="number" min="1" placeholder="quantity" [(ngModel)]="productQuantity">
          <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
        </div>
      </div>
    </div>
    <div>
      Full description: {{product.fullDescription}}
    </div>
</div>

<app-portal-footer></app-portal-footer>
