
* {
    padding: 0;
    margin: 0;
}

.cartContainer {
    padding: 0 50px;
    min-height: 80%;
    h1 {
        margin-top: 20px;
    }
    // Table
    .tableContainer {
        margin-top: 20px;
        table {
            tbody {
                tr {
                    .imageCell {
                        width: 100px;
                        img {
                            width: 100%;
                        }
                    }
                    .removeButtonCell {
                        button {
                            padding: 3px;
                        }
                    }
                }
            }
        }
    }

    // Total sum, checkout button
    .checkoutContainer {
        border-top: 3px solid rgba(10, 16, 13, 0.5);
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
        div {
            p {
                font-size: 20px;
            }
            button {
                margin-top: 10px;
                padding: 3px;
            }
        }
    }
}
