
<app-portal-header [quantity]="cartQuantity"></app-portal-header>

<div class="cartContainer">
  <h1>Shopping cart</h1>
  <!-- Table content -->
  <div class="tableContainer">
      <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th>Picture</th>
              <th>Product(s)</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsList">
              <td class="imageCell"><img [src]="product.imageUrl"></td>
              <td>{{product.name}}</td>
              <td> &#8364; {{product.price}}</td>
              <td><input type="number" min="1" value="1" [(ngModel)]="quantity"></td>
              <td>{{quantity * product.price}}</td>
              <td class="removeButtonCell"><button class="btn btn-danger">Remove</button></td>
            </tr>
          </tbody>
        </table>
  </div>
  <!-- Total, checkout button -->
    <div class="checkoutContainer">
      <div>
        <p>Total: &#8364; </p>
        <button class="btn btn-primary">Checkout</button>
      </div>
    </div>
    <!-- Cart container end -->
  </div>


<app-portal-footer></app-portal-footer>