
<app-portal-header [quantity]="cartQuantity"></app-portal-header>

<div class="cartContainer">
  <h1>Shopping cart</h1>
  <!-- Table content -->
  <div class="tableContainer">
      <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th>Picture</th>
              <th>Product(s)</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of productsList">
              <td class="imageCell"><img [src]="product[0].imageUrl"></td>
              <td>{{product[0].name}}</td>
              <td> &#8364; {{product[0].price}}</td>
              <td><input type="number" min="1" (input)="changeProductQuantity(product[0].id, $event.target.value)" [(ngModel)]="product[1]"></td>
              <td>{{itemSum(product[0].price, product[1])}}</td>
              <td class="removeButtonCell"><button class="btn btn-danger" (click)="removeFromCart(template, product[0].id)">Remove</button></td>
            </tr>
          </tbody>
        </table>
  </div>
  <!-- Total, checkout button -->
    <div class="checkoutContainer">
      <div>
        <p>Total: &#8364; {{sum}}</p>
        <button class="btn btn-primary" (click)="checkoutCart()">Checkout</button>
      </div>
    </div>
    <!-- Cart container end -->
  </div>

  <!-- DELETE confirmation message template -->
  <ng-template #template>
    <div class="modal-body text-center p-3">
      <p class="p-2">Are you sure you want to perform this action?</p>
      <button type="button" class="btn btn-default p-2" (click)="confirmRemove()" >Yes</button>
      <button type="button" class="btn btn-primary p-2" (click)="declineRemove()" >No</button>
    </div>
  </ng-template>

<app-portal-footer></app-portal-footer>