

// Category buttons
.categoryButtonsContainer {
    padding: 10px;
    .categoryButtons {
        display: inline;
        button {
            margin: 5px;
        }
    }
}

// Product cards
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 65%;
    .card {
        margin-top: 20px;
        padding: 10px;
        img {
            height: 100px;
        }
        .card-body {
            padding: 10px 0;
            button {
                display: block;
                margin: auto;
            }
        }
    }
}
