
  <!-- Portal header -->
  <app-portal-header [quantity]="cartQuantity"></app-portal-header>

  <!-- Category Buttons -->
  <div class="categoryButtonsContainer">
    <button class="btn btn-outline-dark" (click)="getProducts()">All Products</button>
    <div *ngFor="let category of categories" class="categoryButtons ">
      <button (click)="selectProducts(category.id)" class="btn btn-outline-dark">{{category.name}}</button>
    </div>
  </div>

  <!-- Product cards -->
  <div class="container">
      <div class="row">
        <!-- <p *ngIf="productsList.length==0">No products</p> -->
          <div *ngFor="let product of productsList" class="col-sm-6 col-md-4 col-lg-3" >
              <div class="card">
                <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap" routerLink="/portal/view/{{product.id}}">
                <div class="card-body">
                  <h5 class="card-title" routerLink="/portal/view/{{product.id}}">{{product.name}}</h5>
                  <p class="card-text">&#8364; {{product.price}}</p>
                  <button class="btn btn-success" (click)="addToCart(product)">Add to card</button>
                </div>
              </div>   
          </div>
      </div>
  </div>
  <!-- Portal footer -->
  <app-portal-footer></app-portal-footer>


