

  <form class="row form-inline mt-2 mb-2 ml-2 mr-2">
    <div class="form-group ml-auto col-6-md">
        <input [(ngModel)]="searchTerm" (input)="checkIfEmpty($event.target.value)" type="search" name="search" class="form-control"  placeholder="Search">
          <img src="https://img.icons8.com/android/24/000000/detective.png" class="ml-2s">
    </div>
  </form>
  
  <button routerLink="/addNew">Add new</button>
  
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Parent category</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of tableContent; let i = index">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.parentCategoryName}}</td>
        <td class="text-center">
            <button class="mr-3" (click)="deleteData(product.id)"><img src="https://img.icons8.com/windows/32/000000/trash.png"></button>
            <button (click)="editCategory(product.id)"><img src="https://img.icons8.com/windows/32/000000/video-editing.png"></button>
        </td>
      </tr>
    </tbody>
  </table>