
header {
    height: 15%;
    background-color: #472D30;

    div {
        height: 100%;

        img {
            height: 100%;
            margin-left: 80px;
        }
    }
}

// Side menu
// .active class for the chosen side option
// .active {
//     background-color: #A1E887;
//     a {
//         color: #723D46;
//     }
// }

// .row {
//     height: 85%;
//     nav {
//         background-color: #723D46 ;
//         padding: 0;

//         ul {
//             list-style: none;
//             padding: 0;

//             li {
//                 font-size: 1.5rem;
//                 text-align: center;
//                 &:hover {
//                     background-color: #A1E887;
//                     a {
//                         color: #723D46;
//                     }     
//                 }

//                 a {
//                     text-decoration: none;
//                     color: white;
//                 }
//             }


//         }
//     }
//     main {
//         overflow-y: scroll;
//         padding: 0 30px;
        
//     }

// }


@media only screen and (max-width: 770px) {
    main {
        padding: 0 10px;
        margin: 0;
    }

    header {
        div {
            img {
                display: block;
                margin: auto;
            }
        }
    }

    nav {
        display: block;
        height: 80px;
    }

}

@media only screen and (max-width: 576px) {
    header {
        display: none;
    }
}