
<header class="header">
  <div>
    <img src="../assets/logo4.png" alt="bla"/>
  </div>
</header>

<div class="row">
  <nav class="col-md-3">
    <ul>
      <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/categories">Categories</a>
      </li>
      <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/products">Products</a>
      </li>
    </ul>
  </nav>
  <main class="col-md-9">
    <router-outlet></router-outlet>
  </main>
</div>
