.row {
    .search {
        padding-left: 6px;
    }
    .button {
        button {
            float: right;
        }
    }
}


.imageCell {
    width: 100px;
    img {
        width: 100%;
    }
}

ng-container {
    border-top: none;
}

@media only screen and (max-width: 770px) {
    main {
        form {
            h1 {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .row {
        .search {
            display: block !important;
            margin-bottom: 5px;
            .searchInput {
                display: inline-block;
                width: 85%;
            }
            img {
                display: inline-block;
            }
        }

        .button {
            display: block;
            padding-left: 8px;
            button {
                float: left;
            }
        }
    }

}