


.imageCell {
    width: 100px;
    img {
        width: 100%;
    }
}

ng-container {
    border-top: none;
}

@media only screen and (max-width: 576px) {
    .search {
        display: block !important;
        .searchInput {
            display: inline-block;
            width: 70%;
        }
        img {
            display: inline-block;
        }
    }
}