
header {
    height: 15%;
    background-color: #FDE74C;

    div {
        height: 100%;

        img {
            height: 100%;
        }
    }
}

.row {
    height: 85%;
    nav {
        background-color: rgb(10, 110, 10); ;
        padding: 0;

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 1.5rem;
                text-align: center;
                a {
                    text-decoration: none;
                    color: white;
                }
            }

            li:hover {
                background-color: #84A98C;
            }
        }
    }
    main {
        overflow-y: scroll;
        padding-left: 0 5px;
        
    }

}


@media only screen and (max-width: 620px) {
    main {
        padding: 0 10px;
        margin: 0;
    }

    header {
        img {
            display: block;
            margin: auto;
        }
    }
}