<div class="container-fluid mt-3">
  <h1>{{headingState}}</h1>
  <form>
    <div class="form-group">
      <label for="name" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-6">
        <input [(ngModel)]="categoryName" type="text" name="name" class="form-control" id="name" placeholder="Enter category Name">
      </div>
    </div>

    <div class="form-group">
      <label for="sel1" class="col-sm-2 col-form-label">Parent category:</label>
      <select [(ngModel)]="parentCategoryName" class="form-control col-sm-6" id="sel1" name="parentCategory">
        <option selected="true" disabled="disabled">Options</option>
        <option *ngFor = "let name of categoryNames" [value]="name">{{name}}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="description" class="col-sm-2 col-form-label">Description:</label>
      <textarea [(ngModel)]="categoryDescription" name="description" rows="10" id="description" class="col-sm-12"></textarea>
    </div>
    <!-- Edit / Update button -->
    <div class="formButtons">
      <button (click)="addUpdate()" type="submit" class="btn btn-outline-success">{{buttonState}}</button>
      <button routerLink="/categories" class="btn btn-outline-warning">Cancel</button>
    </div>
  </form>
</div>